/* Styling for base.html */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Oxygen", sans-serif;
}

.brand {
  font-family: "Raleway", sans-serif;
}

.hero-image {
  background-image: url("https://res.cloudinary.com/dqulet5as/image/upload/v1706535144/windsurfer_2_2_ubjttl.jpg");
  background-color: #fff;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav,
footer {
  background-color: #014759;
  color: #fff;
}

.helptext a,
.helptext a:visited {
  color: #014759;
}

nav a,
nav a:visited,
footer a,
footer a:visited {
  color: #fff;
}

.brand {
  font-size: 27px;
}

.fab {
  transition: all 0.2s ease-in-out;
}

.fab:hover {
  transform: scale(1.1);
}

footer {
  margin-top: auto;
  /* position: relative; */
}

.container-message {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Styling for index.html */
h1,
h2,
h3,
h5 {
  color: #014759;
}

.btn-sign-up {
  background-color: #014759;
  color: #fff;
  border: 2px solid #014759;
}

.btn-sign-up:hover {
  color: #fff;
  background-color: #388b96;
  transition: all 200ms ease-in-out;
}

.headline {
  color: #014759;
  font-family: "Raleway", sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-transform: uppercase;
}

@supports (-webkit-text-stroke: 2px #014759) {
  .headline {
    color: transparent;
    -webkit-text-stroke: 1px #014759;
    text-shadow: none;
  }
}

/* Styling for about page */
.about-welcome {
  font-family: "Raleway", sans-serif;
}

.card {
  border: transparent;
}

.card-img {
  max-width: 100%;
  height: 30vw;
  object-fit: cover;
}

.card-text {
  line-height: 200%;
  font-size: 18px;
}

/* Styling for sign up/in pages */
p .sign-in-link,
p .helptext {
  color: #014759;
}

.welcome {
  color: #4b7a6e;
}

/* Styling for My Sessions page */
td .session-link,
span .session-link,
.current {
  color: #4b7a6e;
}

.btn-create {
  background-color: #4b7a6e;
  color: #fff;
  border: 2px solid #4b7a6e;
}

.btn-create:hover {
  color: #4b7a6e;
  background-color: #fff;
  transition: all 200ms ease-in-out;
}

/* Styling for Session Detail page */
.session-detail {
  border: 2px solid #014759;
  border-radius: 4px;
}

/* Styling for Delete Session Page */
.delete {
  font-size: 30px;
}

@media (max-width: 600px) {
  .card-img {
    display: none;
  }
}
