{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-8 col-md-8 col-lg-8 mx-auto">
                <div class="mb-md-2 mt-md-4 pb-5">
                    <h1>Error 500:</h1>
                    <h2>Internal Server Error</h2>
                    {% if user.is_authenticated %}
                    <div>
                        <a class="btn btn-sign-up px-3 py-1 rounded-3 mt-4" href="{% url 'my_sessions' %}" title="Link to My Sessions">Go Back</a>
                    </div>
                    {% else %}
                    <div>
                        <a class="btn btn-sign-up px-3 py-1 rounded-3 mt-4" href="{% url 'index' %}" title="Link to Home">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}