{% extends "base.html" %} 

{% block content %}

<div class="container-fluid overflow-auto">
  <div class="text-center text-xxl-start">
    <h1 class="display-3 fw-bolder mt-3 mb-3">
      <span class="d-inline about-welcome">Welcome to Windsurfer</span>
    </h1>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-sm-12 col-lg-6">
          <img
            src="https://res.cloudinary.com/dqulet5as/image/upload/v1706537874/windsurfers-_2_-_2__yafuwb.webp"
            class="img-fluid rounded card-img"
            alt="windsurfers"
          />
        </div>
        <div class="col-sm-12 col-lg-6">
          <div class="card-body">
            <p class="card-text">
              📝 Log your training sessions to keep track of your progress.
              📝<br />
              Include details about the wind conditions 💨, how you felt on the
              water during your training session and what you were working on.
              💪<br />You can include comments from your coach or what you want
              to work on in your next session in the details box too.
              <br />There's a limit of
              <strong>one log per specified date</strong>, so if you had
              multiple training sessions on one day, include them all in one
              log. 📆<br />There is a time-on-the-water limit of 6
              hours...remember not to over do it, rest is an important part of
              training too! 💆‍♀️<br /><br />We hope you enjoy this tool and find
              it useful in your windsurfing training journey!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3"
  >
    <a
      class="btn btn-sign-up rounded-pill btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder"
      href="{% url 'account_signup' %}"
      title="Link to Log In"
      >Let's Get Started</a
    >
  </div>
</div>
{%endblock%}
