{% extends "base.html" %} 

{% load static %} 

{% block content %}

<div class="row reservation-container">
    <div class="col-10 col-md-8 text-center reservations-table m-3 mx-auto">
        <div class="form-style table-responsive">
            <h1 class="sub-page-title padding">My Sessions</h1>
            <h3>Hi {{ request.user.username|title }}</h3>
            
            <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Rating</th>
                    <th><span class="sr-only">Edit Button Column</span></th>
                    <th><span class="sr-only">Delete Button Column</span></th>
                </tr>
            </thead>
            {% if user.is_authenticated %}
            {% for session in session_list %}
            <tbody>
                <tr>
                    <td>{{ session.date }}</td>
                    <td><a href="{% url 'session_detail' session.slug  %}" class="sesion-link">{{ session.title }}</a></td>
                    <td>{{ session.rating }}</td>
                    <td>
                    <a href="#" class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                    <a href="#" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
            {% empty %}
                    <div class="container text-center mt-4">
                        <div class="row">
                            <div class="col-md-12">
                                <p>You haven't logged any sessions yet.</p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            {% endif %}
            </table>
        </div>
        <div class="pagination">
            <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
             {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
            </span>
        </div>
        <div class="create-btn">
            <a href="{% url 'create_session' %}" class="btn btn-success">Log a Session</a>
        </div>
    </div>
</div>

{%endblock%}