{% extends 'base.html' %} 

{% block content %}

<div class="container py-2 h-100" style="max-width: 700px;">
    <div class="row">
        <div class="col-8 col-md-8 col-lg-8 mx-auto">
            <h1 class="mb-2 text-center">{{ session.title|upper }}</h1>
        </div>
    </div>
    <div class="session-detail mt-3 mb-3 p-2">
        <div class="row">
            <div class="col">
                <p>Session Date: {{ session.date }} </p>
                <p>How I felt on the water: {{ session.rating }}/5</p>
            </div>
        </div>
        <div class="row">
            <div class="col"><hr></div>
        </div>
        <div class="row">
            <div class="col mb-4  mt-3">
                <div>
                    <h5>About my training session:</h5>
                    <p>{{ session.details | safe }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"><hr></div>
        </div>
        <div class="row">
            <div class="col-md-8 mb-4  mt-3 ">
                <p>Hours on the water: {{ session.time_logged }}</p>
                <p>Wind Conditions: {{ session.wind_conditions|upper }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'update_session' session.slug  %}" class="btn btn-primary">Edit</a>
        </div>
        <div class="col">
            <a href="{% url 'delete_session' session.slug %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
    <div class="row mt-3">
         <div class="col">
            <a href="{% url 'my_sessions' %}" class="btn btn-dark mb-3">Back</a>
        </div>
    </div>
</div>


{% endblock content %}