{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <h1 class="text-center mt-3 mb-3">Edit Training Session:</h1>
    <div class="col-md-4 col-sm-6 col-10 mx-auto">
      <div class="form-group">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="text-center">
            <button onClick="this.disabled=true; this.form.submit();" type="submit" class="btn btn-success mt-3 mb-3">Update Session</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{%endblock%}